/* police ajouté au site */
@font-face {
  font-family: "shrikhand";
  src: url(shrikhand/Shrikhand-Regular.otf);
}

@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Regular-webfont.woff2") format("woff2"),
    url("roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"),
    url("Roboto-Regular-webfont.ttf") format("truetype"),
    url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotobold";
  src: url("Roboto-Bold-webfont.eot");
  src: url("Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("Roboto-Bold-webfont.woff2") format("woff2"),
    url("roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff"),
    url("Roboto-Bold-webfont.ttf") format("truetype"),
    url("Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* evite que les marge et padding prenne plus de place */
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#bloc_page {
  font-family: "robotoregular";
}

/* evite que les marge et padding prenne plus de place */
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* centrer logo */
#logo_principal {
  transform: scale(0.9);
  display: block;
  margin: auto;
}

/* logo + la barre de recherche */
.barre_recherche {
  display: flex;
  justify-content: center;
  background-color: lightgray;
  padding-top: 10px;
  margin-top: 10px;
}

.logo_destination {
  padding-bottom: 13px;
}

#destination {
  border: none;
  background: none;
  outline-style: none;
  text-align: center;
  padding-bottom: 10px;
}
